@using NotEnoughBooks.Core.Models
@using NotEnoughBooks.Extensions
@using NotEnoughBooks.ViewModels
@model NotEnoughBooks.ViewModels.IndexBookViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="get">
    <div class="d-flex flex-wrap">
        <h1 class="mx-2 flex-fill">Index</h1>
        <div class="form-floating" style="min-width: 30rem">
            <input asp-for="SearchText" class="form-control" id="queryInput" placeholder="Search"/>
            <label asp-for="SearchText" class="form-label">Search</label>
            <input type="submit" hidden/>
        </div>
    </div>
    <hr/>
    <input hidden asp-for="OrderAsc"/>
    <input hidden asp-for="View"/>

    @if (Model.View == IndexBookViewModel.ViewMode.Grid)
    {
        <div class="d-flex w-100 justify-content-between">
            <div class="input-group mx-2 mb-2 flex-grow-1" style="max-width: 20rem">
                <select auto-submit asp-for="Order" asp-items="Html.GetEnumSelectList<OrderBooksBy>()"
                        class="form-select">

                </select>
                <button class="btn btn-secondary" onclick="sort()">
                    @if (Model.OrderAsc)
                    {
                        <i class="bi bi-sort-down"></i>
                    }
                    else
                    {
                        <i class="bi bi-sort-up"></i>
                    }
                </button>
            </div>
            <div>
                <button class="btn @Model.View.IsActive(IndexBookViewModel.ViewMode.Grid)"
                        onclick="setGridView()">
                    <i class="bi bi-grid"></i>
                </button>
                <button class="btn @Model.View.IsActive(IndexBookViewModel.ViewMode.List)"
                        onclick="setListView()">
                    <i class="bi bi-list"></i>
                </button>
            </div>
        </div>

        <div class="d-flex flex-wrap">
            @foreach (Book book in Model.Books)
            {
                <a asp-action="Edit" asp-route-id="@book.Id" class="book-card text-decoration-none m-2" style="">
                    <div class="card">
                        <img src="@book.ImagePath" class="card-img-top img-fluid"
                             style="aspect-ratio: 0.7; object-fit: cover"
                             alt="Cover"/>
                        <div class="card-body">
                            <p class="card-text">@book.Title</p>
                        </div>
                    </div>
                </a>
            }
        </div>
    }
    else if (Model.View == IndexBookViewModel.ViewMode.List)
    {
        <div class="d-flex w-100 justify-content-end">
            <select hidden auto-submit asp-for="Order" asp-items="Html.GetEnumSelectList<OrderBooksBy>()"
                    class="form-select">

            </select>
            <div>
                <button class="btn @Model.View.IsActive(IndexBookViewModel.ViewMode.Grid)"
                        onclick="setGridView()">
                    <i class="bi bi-grid"></i>
                </button>
                <button class="btn @Model.View.IsActive(IndexBookViewModel.ViewMode.List)"
                        onclick="setListView()">
                    <i class="bi bi-list"></i>
                </button>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col @Model.Order.IsActive(OrderBooksBy.Title)" onclick="setOrderSelect(4)">
                    Title
                    @if (Model.Order == OrderBooksBy.Title)
                    {
                        if (Model.OrderAsc)
                        {
                            <i class="bi bi-caret-up-fill"></i>
                        }
                        else
                        {
                            <i class="bi bi-caret-down-fill"></i>
                        }
                    }
                </th>
                <th scope="col @Model.Order.IsActive(OrderBooksBy.PageCount)" onclick="setOrderSelect(2)">
                    Page Count
                    @if (Model.Order == OrderBooksBy.PageCount)
                    {
                        if (Model.OrderAsc)
                        {
                            <i class="bi bi-caret-up-fill"></i>
                        }
                        else
                        {
                            <i class="bi bi-caret-down-fill"></i>
                        }
                    }
                </th>
                <th scope="col @Model.Order.IsActive(OrderBooksBy.Price)" onclick="setOrderSelect(1)">
                    Price
                    @if (Model.Order == OrderBooksBy.Price)
                    {
                        if (Model.OrderAsc)
                        {
                            <i class="bi bi-caret-up-fill"></i>
                        }
                        else
                        {
                            <i class="bi bi-caret-down-fill"></i>
                        }
                    }
                </th>
                <th scope="col @Model.Order.IsActive(OrderBooksBy.ReleaseDate)" onclick="setOrderSelect(3)">
                    Published
                    @if (Model.Order == OrderBooksBy.ReleaseDate)
                    {
                        if (Model.OrderAsc)
                        {
                            <i class="bi bi-caret-up-fill"></i>
                        }
                        else
                        {
                            <i class="bi bi-caret-down-fill"></i>
                        }
                    }
                </th>
                <th scope="col @Model.Order.IsActive(OrderBooksBy.AddDate)" onclick="setOrderSelect(0)">
                    Added
                    @if (Model.Order == OrderBooksBy.AddDate)
                    {
                        if (Model.OrderAsc)
                        {
                            <i class="bi bi-caret-up-fill"></i>
                        }
                        else
                        {
                            <i class="bi bi-caret-down-fill"></i>
                        }
                    }
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (Book book in Model.Books)
            {
                <tr data-id="@book.Id" style="cursor: pointer">
                    <td>@book.Title</td>
                    <td>@book.PageCount</td>
                    <td>@book.Price.ToString("F2")</td>
                    <td>@book.Published</td>
                    <td>@book.AddedOn</td>
                </tr>
            }
            </tbody>
        </table>
    }
</form>

@section Scripts
{
    <script>
        $(function () {
            $("select[auto-submit]").change(function () {
                $(this).closest("form").submit();
            });
        });

        $("tbody tr").click(function () {
            window.location.href = "/Book/Edit/" + $(this).data("id");
        })

        function sort() {
            const input = $("#OrderAsc");
            input.prop("checked", !input.prop("checked"));
            input.closest("form").submit();
        }

        function setGridView() {
            $("#View").val("Grid");
        }

        function setListView() {
            $("#View").val("List");
        }

        function setOrderSelect(v) {
            const select = $("#Order");
            console.log(v);
            console.log(select.val());
            if (select.val() === v.toString()) {
                sort();
            }
            select.val(v);
            select.closest("form").submit();
        }
    </script>
}
